---
title: XCrypt Service Encryption for Pivotal Platform
owner: Zettaset
---

<strong><%= modified_date %></strong>



This documentation describes XCrypt Service Encryption for Pivotal Platform, which performs encryption on MySQL instances

## <a id='overview'></a>Overview

XCrypt Service Encryption for Pivotal Platform is a service-agnostic product for Cloud Foundry that enables transparent
data-at-rest encryption for Cloud Foundry data services.



## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about XCrypt Service Encryption for Pivotal Platform

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v8.5.0</td>
    </tr>	
    <tr>
        <td>Release date</td>
        <td>December 27, 2019</td>
    </tr>
    <tr>
        <td>Compatible MySQL versions</td>
        <td>2.5.x</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.4.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial 170.162</td>
    </tr>
    
</table>


## <a id="reqs"></a>Requirements

 XCrypt Service Encryption for Pivotal Platform has the following requirements:


 1. Access to PCF OpsManager (PCF v2.4) is required to install the  XCrypt Service Encryption  tile 
 2. Install MySQL for Pivotal Data Platform tile for encrypting the MSQL instances


## <a id="feedback"></a>Feedback

Email feature requests, questions, and issues to support@zettaset.com

## <a id='license'></a>License

Before deploying XCrypt Service Encryption for Pivotal Data Platform, please contact Zettaset at support@zettaset.com to obtain a license key.

