---
title: Release Notes for  XCrypt Service Encryption for Pivotal Platform
owner: Zettaset
---

<strong><%= modified_date %></strong>

These are release notes for XCrypt Service Encryption for Pivotal Platform.

##<a id="ver"></a> 1.0.1

**Release Date:** December 27, 2019

Features included in this release:

* The tile now deploys as a BOSH managed service. It deploys all the following server VMs  
    1. ca_server
    1. license_server
    1. kmip_server
    1. kmip_backup

 It also deploys the add-on runtime-config file to the BOSH director.

*  XCrypt Service Encryption for Pivotal Platform utilizes Advanced Encryption Standard (AES) 256-bit encryption, the largest key size available.

* BOSH Release of Zettaset Virtual Enterprise Key Manager and Virtual Hardware Security Module
provide native key management and key and policy administration services to encrypted data service instances.

* Negligible performance impact on existing processes

